{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [ 
      "@typescript-eslint",
      "react"
    ],
    "extends": [
        "airbnb-base",
        "plugin:import/recommended",
        "airbnb-typescript/base"
    ],
"parserOptions": {
       "project": "./tsconfig.json"
    },
    "rules": { 
        "no-console": 1,
        "@typescript-eslint/no-explicit-any": 2,
        "@typescript-eslint/no-use-before-define": ["error", { "functions": false }]
      }
  }
