header {
    background: rgb(0,7,65);
    background: linear-gradient(90deg, rgba(0,7,65,0.8744747899159664) 0%, rgba(29,155,176,1) 57%, rgba(5,149,178,0.8016456582633054) 79%);
    height: 40px;
    @extend %flex;
    justify-content: flex-start;
}

.heading {
    margin-left: 224px;
    @extend %font-prim;
    @include font($size: 2rem, $weight: 800, $color: $color-primary);
}

