.levels {
    height: 100%;
    width: 25%;
    @extend %font-prim;
    @include font($size: 2rem, $color: $color-dark-2xl);
    @extend %flex;
}

#levels-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 15px 0 35px;
    overflow: hidden;
    background: rgb(34,173,195);
    background: linear-gradient(180deg, rgba(34,173,195,1) 0%, rgba(187,237,244,1) 100%);
}

.levels-heading {
    height: 3rem;
    width: 90%;
    @include font($size: 2.5rem, $color: $color-dark-2xl);
    margin: 1rem 0  1rem 2rem; 
    font-weight: 800;
    display: flex;
    justify-content: space-between;
}

.level-list, 
.level-name {
    @include font($size: 1.8rem, $color: $color-dark-xl);
}

.level-name {
    display: flex;
    justify-content: space-between;
}

.level-name :hover {
    cursor: pointer;
    color:bisque;
}

.level-list {
    line-height: 2.2rem;
    width: 100%;
}

.level-description {
    @include font($size: 1.3rem, $color: $color-dark-xl);
    background-color: rgba(240, 255, 255, 0.4);
    padding: 3px;
}

.marked {
    background-color: azure;
}

.level-checked {
    text-decoration: underline;
    color:bisque;
}

.level-description-hidden {
    visibility: hidden;
    height: 0;
}

.level-description-open {
 margin: 5px 0;
}

.green-check {
    @include element ($width: 4rem, $height: 2rem, $url: '../assets/green-check.png');
    background-size: contain;
}