.table {
    width: 100%;
    height: 35%;
    @extend %flex; 
    @include font($size: 2rem, $color: $color-dark-2xl);
}

.table-wrapper {
    width: 99%;
    justify-content: space-between;
    background: rgb(34,173,195);
    background: linear-gradient(180deg, rgba(34,173,195,1) 0%, rgba(187,237,244,1) 100%);
}

.cat {
    height: 9rem;
}

#table-area {
    @extend %flex;
    width: 56rem;
    height: 100%;
}

.table-elem10 {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../assets/table1.svg'); 
    @extend %flex;
    justify-content: center;
 
}

.roll10 {
    display: block;
    width: 7rem;
    height: 10rem;
    background-image: url('../assets/roll1.svg');
    background-repeat: no-repeat;
}

.plate10 {
    @extend %flex;
    width: 24rem;
    height: 14rem;
    background-image: url('../assets/plate33.svg');
    background-repeat: no-repeat;
}

.sushi10 {
    display: block;
    width: 9rem;
    height: 9rem;
    background-image: url('../assets/sushi3.svg');
    background-repeat: no-repeat;
}
.target {
    animation: myAnim 3s linear 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}

.table-right, 
.table-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
}

.task {
    @extend %font-prim;
    @include font($size: 1.5rem, $color: $color-dark-2xl);
    text-align: center;
    //border: 1px solid grey;
    border-radius: 0.5rem;
    padding: 3px;
    background-color: azure;
}

