.table-section {
    width: 100%;
    height: 35%;
    @extend %flex; 
    @include font($size: 2rem, $color: $color-dark-2xl);
}

.table-wrapper {
    width: 99%;
    justify-content: space-between;
    background: rgb(34,173,195);
    background: linear-gradient(180deg, rgba(34,173,195,1) 0%, rgba(187,237,244,1) 100%);
}

.cat {
    height: 9rem;
}

#table-area {
    @extend %flex;
    width: 56rem;
    height: 100%;
}


.table-right, 
.table-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
  width: 20rem;
}

.task {
    @extend %font-prim;
    @include font($size: 1.5rem, $color: $color-dark-2xl);
    text-align: center;
    border-radius: 0.5rem;
    padding: 3px;
    background-color: azure;
}


rice {
    @include element ($width: 11rem, $height: 15rem, $url: '../assets/rice.svg');
    @extend %shadow;
}

ramen {
    @include element ($width: 11rem, $height: 15rem, $url: '../assets/ramen.svg');
    @extend %shadow;
}

sushi {
    @include element ($width: 9rem, $height: 10rem, $url: '../assets/sushi4.svg');
    @extend %shadow;
}

plate {
    @include element ($width: 22rem, $height: 13rem, $url: '../assets/plate33.svg', $display: flex);
    @extend %shadow;
    justify-content: center;
}

plate.small {
    width: 20rem;
}

board.small {
    @include element ($width: 42rem, $height: 80%, $url: '../assets/table3.svg', $display: flex);
   gap: 40px;
}

roll {
    @include element ($width: 6rem, $height: 9rem, $url: '../assets/roll4.svg');
    @extend %shadow;
}


roll.salmon {
    @include element ($width: 7rem, $height: 10rem, $url: '../assets/roll1.svg');  
}


sushi.salmon {
    @include element ($width: 9rem, $height: 11rem, $url: '../assets/sushi3.svg');
}

wasabi {
    @include element ($width: 8rem, $height: 9rem, $url: '../assets/wasabi.svg');
    @extend %shadow;
}

ginger {
    @include element ($width: 8rem, $height: 9rem, $url: '../assets/ginger.svg');
    @extend %shadow;
}

board {
    @include element ($width: 100%, $height: 80%, $url:'../assets/table1.svg', $display: flex);
    @extend %flex;
    background-size: contain;
    gap: 5px;
    @extend %shadow;
}

board > * :hover {
    @extend %selection;
}

sause {
    @include element ($width: 6rem, $height: 19rem, $url: '../assets/sause.svg');
    @extend %shadow;
}

sushi.unagi {
    @include element ($width: 8rem, $height: 8rem, $url: '../assets/sushi15.svg');
    @extend %shadow;
}

sushi.tuna{
    @include element ($width: 7rem, $height: 8rem, $url: '../assets/sushi8.svg');
}

sushi.octopus {
    @include element ($width: 8rem, $height: 9rem, $url: '../assets/sushi17.svg');
}

.selected {
    @extend %selection;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.tooltip {
display: none;
background-color: bisque;
@extend %font-prim;
@include font($size: 1rem, $color: $color-dark-2xl);
position: absolute;
height: fit-content;
top: -30px;
left: 30px;
width: max-content;
border-radius: 2px;
padding: 2px;
z-index: 1000;
}

.visible {
display: block;
  
}

