%transition {
    transition: all .3s ease-out;
}

%font-prim {
    font-family: 'Poppins', sans-serif;
}

%font-code {
    font-family: 'Source Code Pro', monospace;
}

%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}