.table-head {
    background-color: $color6;
    color: $color2;
    font-size: 1.8rem;
    line-height: 2.5rem;
    border-left: 2px dotted $color2;
    height: 2.5rem;
    padding-left: 5px;
}

.table-head:first-child {
    border: none;
}

.winner-number {
 width: 2.5rem;
}

.winner-number:first-child {
    color: $color6;
}

.winners-table {
    display: flex;
    flex-wrap: wrap;
    width: 80rem;
    font-size: 1.8rem;
line-height: 3rem;
}

.table-line {
    padding: 5px;
}

.winner-car {
    width: 20rem;
}

.winner-name {
    width: 23rem;
}

.winner-wins {
    width: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.winner-time {
    width: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.winner-car .car-img {
    width: 12rem;
}

.arrow-up,
.arrow-down {
    display: block;
    background-image: url(/src/assets/arrow.png);
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    box-shadow: none;
    margin: 0;
}

.arrow-down {
    transform: rotate(180deg);
}

.arrow-up:hover,
.arrow-down:hover {
    cursor: pointer;
}

